---
layout: page
title: Pokémon GO - Looking For
description: Trade list for trainer DominicBarnes in Pokémon GO.

# SEO
author:
    name: DominicBarnes
image:
    path: https://raw.githubusercontent.com/PokeMiners/pogo_assets/master/Images/Logos/PokémonGOLogo.png
    alt: Pokémon GO Logo
---

{% assign looking_for = site.data.pokemon.shiny_checklist | where:"Obtained","FALSE" | where:"GO","TRUE" %}

<div class="alert alert-warning">
    I need these for my shiny living dex in Pokémon Home. I prefer trading for
    new shinies instead of doing mirror trades.
</div>

{% include pokemon-filter.html target="#looking-for-list" %}

<div id="looking-for-list" class="row g-0 row-cols-3 row-cols-md-6">
    {% for item in looking_for %}
        <div class="col">
            <div class="border rounded m-1 p-1">
                {% capture icon %}{{ item["Icon URL"] }}{% endcapture %}
                {% capture name %}{{ item["Name"] }}{% endcapture %}
                {% capture region %}{{ item["Region"] }}{% endcapture %}
                {% capture variation %}{{ item["Variation"] }}{% endcapture %}
                {% capture go_variation %}{{ item["Go Variation"] }}{% endcapture %}
                {% capture go_regional %}{{ item["GO Regional"] }}{% endcapture %}
                {% capture special %}{{ item["Special"] }}{% endcapture %}
                {% include pokemon.html icon=icon name=name region=region variation=variation go_variation=go_variation go_regional=go_regional special=special %}
            </div>
        </div>
    {% endfor %}
</div>

{% include pokemon-filter-script.html %}