---
layout: default
title: Pokémon GO - Looking For
description: Trade list for trainer DominicBarnes in Pokémon GO.

# SEO
author:
    name: DominicBarnes
image:
    path: https://raw.githubusercontent.com/PokeMiners/pogo_assets/master/Images/Logos/PokémonGOLogo.png
    alt: Pokémon GO Logo
---

{% assign looking_for = site.data.pokemon.shiny_checklist | where:"Obtained","FALSE" | where:"GO","TRUE" %}

<div class="text-center">
    <h1 class="title">Pokémon GO</h1>
    <h2 class="subtitle">Shiny Trades</h2>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/pokemon/go/looking-for.html">
            Looking For
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/pokemon/go/for-trade.html">
            For Trade
        </a>
    </li>
</ul>

<div class="py-3">
    <div class="alert alert-warning">
        <p>
            I need these for my shiny living dex in Pokémon Home. I prefer
            trading for new shinies instead of doing mirror trades.
        </p>
        <p class="mb-0">
            If you don't have any of the shinies I am looking for, you can also
            check my <a href="https://godex.site/public-collection/e8c464edbce5d5b34fd1aefc94253fa9">Regular</a>
            and <a href="https://godex.site/public-collection/3fcf6c53c3928455b73d87be788a92e8">Lucky</a>
            lists.
        </p>
    </div>

    {% include pokemon-filter.html target="#looking-for-list" %}

    <div id="looking-for-list" class="row g-0 row-cols-3 row-cols-md-6">
        {% for item in looking_for %}
        <div class="col">
            <div class="border rounded m-1 p-1">
                {% capture icon %}{{ item["Icon URL"] }}{% endcapture %}
                {% capture name %}{{ item["Name"] }}{% endcapture %}
                {% capture region %}{{ item["Region"] }}{% endcapture %}
                {% capture variation %}{{ item["Variation"] }}{% endcapture %}
                {% capture go_variation %}{{ item["Go Variation"] }}{% endcapture %}
                {% capture go_regional %}{{ item["GO Regional"] }}{% endcapture %}
                {% capture special %}{{ item["Special"] }}{% endcapture %}
                {% include pokemon.html icon=icon name=name region=region variation=variation go_variation=go_variation go_regional=go_regional special=special %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include pokemon-filter-script.html %}