<footer class="footer mt-auto py-3 bg-light h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="container py-3">
    <div class="row">
      <div class="col text-start">
        {%- if site.author %}
        <ul class="contact-list list-unstyled">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
        {%- endif %}
      </div>
      <div class="col">
        <p>{{ site.description | escape }}</p>

        {%- if site.bootstrap.social_links -%}
          {%- include social.html -%}
        {%- endif -%}
      </div>
    </div>
  </div>
</footer>
