<header>
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.bootstrap.header_pages | default: default_paths -%}
  {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      {%- if titles_size > 0 -%}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Pokémon
            </a>
            <ul class="dropdown-menu">
              <li><h6 class="dropdown-header">Go</h6></li>
              <li><a class="dropdown-item {% if page.url == '/pokemon/go/looking-for.html' %} active" aria-current="page{%- endif -%}" href="/pokemon/go/looking-for.html">Looking For</a></li>
              <li><a class="dropdown-item {% if page.url == '/pokemon/go/for-trade.html' %} active" aria-current="page{%- endif -%}" href="/pokemon/go/for-trade.html">For Trade</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><h6 class="dropdown-header">Home</h6></li>
              <li><a class="dropdown-item {% if page.url == '/pokemon/home/looking-for.html' %} active" aria-current="page{%- endif -%}" href="/pokemon/home/looking-for.html">Looking For</a></li>
              <li><a class="dropdown-item {% if page.url == '/pokemon/home/for-trade.html' %} active" aria-current="page{%- endif -%}" href="/pokemon/home/for-trade.html">For Trade</a></li>
            </ul>
          </li>
        </ul>
      </div>
      {%- endif -%}
    </div>
  </nav>
</header>