<div data-name="{{ include.name }}" data-region="{{ include.region }}" data-special="{{ include.special }}" data-ball="{{ include.ball }}" data-origin-mark="{{ include.mark }}">
    <div class="d-flex justify-content-between align-items-center">
        {% if include.ball %}
            <img src="https://raw.githubusercontent.com/msikma/pokesprite/master/items/ball/{{ include.ball }}.png" alt="Ball Mark" height="32" width="32" loading="lazy" title="Ball: {{ include.ball }}" data-bs-toggle="tooltip">
        {% endif %}
        {% if include.alpha == 'TRUE' %}
            <img src="https://raw.githubusercontent.com/msikma/pokesprite/master/misc/special-attribute/alpha-icon.png" alt="Alpha Mark" height="24" width="24" loading="lazy" title="Alpha Pokémon" data-bs-toggle="tooltip">
        {% endif %}
        {% if include.gmax == 'TRUE' %}
            <img src="https://raw.githubusercontent.com/msikma/pokesprite/master/misc/special-attribute/gigantamax-icon.png" alt="Gigantamax Mark" height="23" width="30" loading="lazy" title="Gigantamax Pokémon" data-bs-toggle="tooltip">
        {% endif %}
        {% if include.mark %}
            {% if include.mark == 'paldea' %}
                <img src="{{ '/assets/img/origin-mark-paldea.png' | relative_url }}" alt="Origin Mark" height="24" width="19" loading="lazy" title="Origin Mark: paldea" data-bs-toggle="tooltip">
            {% else %}
                <img src="https://raw.githubusercontent.com/msikma/pokesprite/master/misc/origin-marks/home/{{ include.mark }}.png" alt="Origin Mark" height="24" width="24" loading="lazy" title="Origin Mark: {{ include.mark }}" data-bs-toggle="tooltip">
            {% endif %}
        {% endif %}
    </div>

    <img src="{{ include.icon }}" class="img-fluid mb-3" alt="Pokémon Sprite" loading="lazy">
    <div class="text-center">
        <div class="text-bg-secondary fw-bold">
            {{ include.name }}
        </div>
        <div>
            {% if include.region %}
                <span class="badge text-bg-light">{{ include.region }}</span>
            {% endif %}
            {% if include.variation %}
                <span class="badge text-bg-dark">{{ include.variation }}</span>
            {% endif %}
            {% if include.go_variation %}
                <span class="badge text-bg-success">{{ include.go_variation }}</span>
            {% endif %}
            {% if include.special %}
                <span class="badge text-bg-warning">{{ include.special }}</span>
            {% endif %}
            {% if include.gostamp == "TRUE" %}
                <span class="badge text-bg-primary">GO Stamp</span>
            {% endif %}
            {% if include.hacked == "TRUE" %}
                <span class="badge text-bg-danger">Hacked</span>
            {% endif %}
        </div>
    </div>
</div>