<script>
document.querySelectorAll("form.pokemon-filters").forEach(node => {
    function getFilters(form) {
        const data = new FormData(form);
        const selectors = [];

        const name = data.get("name");
        if (name) {
            selectors.push(`[data-name*="${name}" i]`);
        }

        const special = data.get("special");
        if (special) {
            selectors.push(`[data-special="${special}"]`);
        }

        const ball = data.get("ball");
        if (ball) {
            selectors.push(`[data-ball="${ball}"]`);
        }

        const originMark = data.get("origin-mark");
        if (originMark) {
            selectors.push(`[data-origin-mark="${originMark}"]`);
        }

        return selectors;
    }

    function applyFilters(list, selectors) {
        if (!selectors.length) {
            // reset filters
            list.querySelectorAll(".col.d-none").forEach(node => {
                node.classList.remove("d-none");
            });
        } else {
            // apply filters
            list.querySelectorAll(".col").forEach(node => {
                node.classList.add("d-none");
            });

            list.querySelectorAll(selectors.join("")).forEach(node => {
                node.closest(".col").classList.remove("d-none");
            });
        }
    }

    node.addEventListener("submit", event => {
        event.preventDefault();

        const form = event.target;
        const list = document.querySelector(form.getAttribute("target"));
        if (!list) {
            console.warn("could not find filter target");
            return
        }

        applyFilters(list, getFilters(form));
    });

    node.addEventListener("reset", event => {
        const form = event.target;
        const list = document.querySelector(form.getAttribute("target"));
        if (!list) {
            console.warn("could not find filter target");
            return
        }

        applyFilters(list, []);
    });
});
</script>