---
layout: page
title: Pokémon GO
description: Trade list for trainer DominicBarnes in Pokémon GO.

# SEO
author:
    name: DominicBarnes
image:
    path: https://raw.githubusercontent.com/PokeMiners/pogo_assets/master/Images/Logos/PokémonGOLogo.png
    alt: Pokémon GO Logo

redirect_from:
  - /pokemon-go/
  - /pokemon-go.html/
---

<p>
    My ultimate goal is to complete a full shiny living dex, so below you'll
    find the Pokémon I still need and have available to trade. In general, I
    don't prefer mirror trades, but I'm open to them if it helps fill gaps in my
    lucky dex.
</p>

{% assign all_special = "Legendary,Mythical,Ultra Beast,Paradox" | split:"," %}
{% assign trade_special = "Legendary,Ultra Beast,Paradox" | split:"," %}

{% assign looking_for = site.data.pokemon.shiny_checklist | where:"Obtained","FALSE" | where:"GO","TRUE" %}
{% assign for_trade = site.data.pokemon.go_collection %}

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a href="#looking-for" class="nav-link active" id="looking-for-tab" data-bs-toggle="tab" aria-controls="looking-for" aria-selected="true">Looking For</a>
    </li>
    <li class="nav-item" role="presentation">
        <a href="#for-trade" class="nav-link" id="for-trade-tab" data-bs-toggle="tab" aria-controls="for-trade" aria-selected="false">For Trade</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active p-2" id="looking-for" role="tabpanel" aria-labelledby="looking-for-tab" tabindex="0">
        <p class="m-2">These are the Pokémon I still need for my shiny living dex.</p>

        {% include pokemon-filter.html prefix="looking-for" target="#looking-for-list" %}

        <div class="mb-4 p-2">
            <div id="looking-for-list" class="row g-0 row-cols-3 row-cols-md-6">
                {% for item in looking_for %}
                    {% if all_special contains item['Special'] %}
                        {% continue %}
                    {% endif %}

                    <div class="col">
                        <div class="border rounded m-1 p-1">
                            {% capture icon %}{{ item["Icon URL"] }}{% endcapture %}
                            {% capture name %}{{ item["Name"] }}{% endcapture %}
                            {% capture region %}{{ item["Region"] }}{% endcapture %}
                            {% capture variation %}{{ item["Variation"] }}{% endcapture %}
                            {% capture go_variation %}{{ item["Go Variation"] }}{% endcapture %}
                            {% capture special %}{{ item["Special"] }}{% endcapture %}
                            {% include pokemon.html icon=icon name=name region=region variation=variation go_variation=go_variation special=special %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade p-2" id="for-trade" role="tabpanel" aria-labelledby="for-trade-tab" tabindex="0">
        <p class="m-2">These are the extra shinies I have that I am willing to trade.</p>

        {% include pokemon-filter.html prefix="for-trade" target="#for-trade-list" go-cd="true" %}

        <div class="mb-4 p-2">
            <div id="for-trade-list" class="row g-0 row-cols-3 row-cols-md-6">
                {% for item in for_trade %}
                    {% if all_special contains item['Special'] %}
                        {% continue %}
                    {% endif %}

                    <div class="col">
                        <div class="border rounded m-1 p-1">
                            {% capture icon %}{{ item["Icon URL"] }}{% endcapture %}
                            {% capture name %}{{ item["Name"] }}{% endcapture %}
                            {% capture region %}{{ item["Region"] }}{% endcapture %}
                            {% capture variation %}{{ item["Variation"] }}{% endcapture %}
                            {% capture go_variation %}{{ item["Go Variation"] }}{% endcapture %}
                            {% capture go_cd %}{{ item["GO CD"] }}{% endcapture %}
                            {% capture special %}{{ item["Special"] }}{% endcapture %}
                            {% include pokemon.html icon=icon name=name region=region variation=variation go_variation=go_variation go_cd=go_cd special=special %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% assign special_looking_for = site.data.pokemon.shiny_checklist | where:"Obtained","FALSE" | where:"GO","TRUE" | where_exp:"item","trade_special contains item['Special']" %}
{% assign special_for_trade = site.data.pokemon.go_collection | where_exp:"item","trade_special contains item['Special']" %}

{% if special_looking_for.size > 0 %}
    <h2>Legendaries</h2>

    <p>
        I've pulled the shiny legendaries into their own section since I only trade
        these for other shiny legendaries.
    </p>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a href="#legendaries-looking-for" class="nav-link active" id="legendaries-looking-for-tab" data-bs-toggle="tab" aria-controls="legendaries-looking-for" aria-selected="true">Looking For</a>
        </li>
        <li class="nav-item" role="presentation">
            <a href="#legendaries-for-trade" class="nav-link" id="legendaries-for-trade-tab" data-bs-toggle="tab" aria-controls="legendaries-for-trade" aria-selected="false">For Trade</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active p-2" id="legendaries-looking-for" role="tabpanel" aria-labelledby="legendaries-looking-for-tab" tabindex="0">
            <div class="mb-4 p-2">
                <div class="row g-0 row-cols-3 row-cols-md-6">
                    {% for item in special_looking_for %}
                        <div class="col">
                            <div class="border rounded m-1 p-1">
                                {% capture icon %}{{ item["Icon URL"] }}{% endcapture %}
                                {% capture name %}{{ item["Name"] }}{% endcapture %}
                                {% capture region %}{{ item["Region"] }}{% endcapture %}
                                {% capture variation %}{{ item["Variation"] }}{% endcapture %}
                                {% include pokemon.html icon=icon name=name region=region variation=variation %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="tab-pane fade show p-2" id="legendaries-for-trade" role="tabpanel" aria-labelledby="legendaries-for-trade-tab" tabindex="0">
            <div class="mb-4 p-2">
                <div class="row g-0 row-cols-3 row-cols-md-6">
                    {% for item in special_for_trade %}
                        <div class="col mb-2">
                            <div class="border rounded m-1 p-1">
                                {% capture icon %}{{ item["Icon URL"] }}{% endcapture %}
                                {% capture name %}{{ item["Name"] }}{% endcapture %}
                                {% capture region %}{{ item["Region"] }}{% endcapture %}
                                {% capture variation %}{{ item["Variation"] }}{% endcapture %}
                                {% capture go_variation %}{{ item["Go Variation"] }}{% endcapture %}
                                {% include pokemon.html icon=icon name=name region=region variation=variation go_variation=go_variation %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

<script>
document.addEventListener("DOMContentLoaded", () => {
    if (window.location.hash) {
        const trigger = document.querySelector(`ul.nav a[href="${window.location.hash}"]`)
        const tab = new bootstrap.Tab(trigger)
        tab.show()
    }
})
</script>

{% include pokemon-filter-script.html %}