---
layout: page
title: Pokémon Home
description: Trade list for trainer Dominic in Pokémon Home.

# SEO
author:
    name: Dominic
image:
    path: https://archives.bulbagarden.net/media/upload/0/01/Pok%C3%A9mon_HOME_logo.png
    alt: Pokémon Home Logo
---

<p>
    My ultimate goal is to complete a full shiny living dex, so below you'll
    find the Pokémon I still need and have available to trade.
</p>

{% assign all_special = "Legendary,Mythical" | split:"," %}

{% assign looking_for = site.data.pokemon.shiny_checklist | where:"Obtained","FALSE" | where:"Has Shiny","TRUE" %}
{% assign for_trade = site.data.pokemon.home_collection %}

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="looking-for-tab" data-bs-toggle="tab" data-bs-target="#looking-for-tab-pane" type="button" role="tab" aria-controls="looking-for-tab-pane" aria-selected="true">Looking For</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="for-trade-tab" data-bs-toggle="tab" data-bs-target="#for-trade-tab-pane" type="button" role="tab" aria-controls="for-trade-tab-pane" aria-selected="false">For Trade</button>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active p-2" id="looking-for-tab-pane" role="tabpanel" aria-labelledby="looking-for-tab" tabindex="0">
        <p class="m-2">These are the Pokémon I still need for my shiny living dex.</p>

        <div class="mb-4 p-2">
            <div class="row g-0 row-cols-3 row-cols-md-6">
                {% for item in looking_for %}
                    {% if all_special contains item['Special'] %}
                        {% continue %}
                    {% endif %}
        
                    <div class="col">
                        <div class="border rounded m-1 p-1">
                            {% capture icon %}{{ item["Icon URL"] }}{% endcapture %}
                            {% capture name %}{{ item["Name"] }}{% endcapture %}
                            {% capture variation %}{{ item["Variation"] }}{% endcapture %}
                            {% capture special %}{{ item["Special"] }}{% endcapture %}
                            {% include pokemon.html icon=icon name=name variation=variation special=special %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade p-2" id="for-trade-tab-pane" role="tabpanel" aria-labelledby="for-trade-tab" tabindex="0">
        <p class="m-2">These are the extra shinies I have that I am willing to trade.</p>

        <div class="mb-4 p-2">
            <div class="row g-0 row-cols-3 row-cols-md-6">
                {% for item in for_trade %}
                    {% if all_special contains item['Special'] %}
                        {% continue %}
                    {% endif %}
        
                    <div class="col">
                        <div class="border rounded m-1 p-1">
                            {% capture icon %}{{ item["Icon URL"] }}{% endcapture %}
                            {% capture name %}{{ item["Name"] }}{% endcapture %}
                            {% capture variation %}{{ item["Variation"] }}{% endcapture %}
                            {% capture special %}{{ item["Special"] }}{% endcapture %}
                            {% capture mark %}{{ item['Origin Mark'] }}{% endcapture %}
                            {% capture alpha %}{{ item['Alpha'] }}{% endcapture %}
                            {% capture gmax %}{{ item['Gmax'] }}{% endcapture %}
                            {% capture ball %}{{ item['Ball'] }}{% endcapture %}
                            {% capture hacked %}{{ item['Hacked'] }}{% endcapture %}
                            {% include pokemon.html icon=icon name=name variation=variation special=special mark=mark alpha=alpha gmax=gmax ball=ball hacked=hacked %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
